{% extends "base.html" %}

{% block title %}Profile Page{% endblock %}

{% block content %}
    <div class="image d-flex flex-column justify-conter align-items-center">
    <button class="btn btn-secondary">
        <img class="profile-pic" alt="Profile picture" src="{{ user.profile_picture.url }}">
    </button>
    <span class="name mt-3">{{ user.first_name }} {{ user.last_name }}</span>
    <span class="idd">@{{ user.username }}</span>
    <span class="idd mb-4">{{ user.email }}</span>
        <div class="mb-2">
            <a class="btn colore-btni" href="{% url "users:profile-edit" %}">Profilni Tahrirlash</a>
            <a class="btn colore-btni" href="{% url "books:news_create" %}">Maqola Qo'shish</a>
        </div>
    </div>
{% endblock %}