{% extends "base.html" %}

{% block title %}ABOUT{% endblock %}

{% block content %}
<div class="wrapper mb-4 news-section-list-resume">
  <div class="intro">
    <div class="profile">
      <div class="bio">
        <img src="/static/img/my.jpeg" alt="my img" class="my-img">
        <h1 class="name">Jasur Kenjayev</h1>
        <p class="profession"><i class="fa-brands fa-python fa-beat-fade"></i> Full Stack Python Developer</p>
      </div>
    </div>
    <div class="intro-section about">
      <h1 class="title">about me</h1>
      <p class="paragraph">
        I introduce myself
        My name is Jasur Kenjayev and I am a Full Stack Developer.
        I live in Uzbekistan and I am 22 years old.
        I study at the Termez State University of Engineering and Agrotechnology, I am interested in the world of Computer Science and the internet in general. I started out interested in the world of programming from 2015, and I started learning programming from 2016, and so far I have achieved great achievements in the world of programming
      </p>
    </div>
    <div class="intro-section contact">
      <h1 class="title">Contact</h1>
      <div class="info-section">
        <i class="fas fa-map-marker-alt"></i>
        <span>Uzbekistan, Termez</span>
      </div>
      <div class="info-section">
        <i class="fas fa-phone"></i>
        <span>(+998)333009888</span>
      </div>
      <div class="info-section link">
        <i class="fa-regular fa-envelope"></i>
        <span>Kenjayevdev@gmail.com</span>
      </div>
      <div class="info-section link">
        <a href="https://instagram.com/kenjayevdev">
          <i class="fab fa-instagram"></i>
          <span>Kenjayevdev</span>
        </a>
      </div>
      <div class="info-section link">
        <a href="https://t.me/Kenjayevdev">
          <i class="fas fa-paper-plane"></i>
          <span>Kenjayevdev</span>
        </a>
      </div>
    </div>
    <div class="info-section link">
        <a href="https://x.com/Kenjayevdev">
          <i class='fa-brands fa-x-twitter'></i>
          <span>Kenjayevdev</span>
        </a>
      </div>
    <div class="intro-section follow">
      <div class="info-section link">
        <a href="https://github.com/Kenjayevdev">
          <i class="fab fa-github"></i>
          <span>Kenjayevdev</span>
        </a>
      </div>
    </div>
  </div>
  <div class="detail">
    <div class="detail-section edu">
      <div class="detail-title">
        <div class="title-icon">
          <i class="fas fa-user-graduate"></i>
        </div>
        <span>Education</span>
      </div>
      <div class="detail-content">
        <div class="timeline-block">
          <h1>Termez State University of Engineering and Agrotechnology</h1>
          <p>Faculty of energy and mining work</p>
          <time>2022 - 2026</time>
        </div>
        <div class="timeline-block">
          <h1>Mohirdev online education platform</h1>
          <p>Full Stack Python Developer graduate of the practicum course</p>
          <p>Graduate of the perfect Telegram bot course</p>
          <time>2021 - 2022</time>
        </div>
      </div>
    </div>
    <div class="detail-section pg-skill">
      <div class="detail-title">
        <div class="title-icon">
          <i class="fas fa-laptop-code"></i>
        </div>
        <span>Programming skills</span>
      </div>
      <div class="detail-content">
        <ul class="pg-list">
          <li>
            <span>HTML5</span>
            <div class="sb-skeleton">
              <div class="skillbar" style="--pgbar-length: 90%"></div>
            </div>
          </li>
          <li>
            <span>CSS3</span>
            <div class="sb-skeleton">
              <div class="skillbar" style="--pgbar-length: 75%"></div>
            </div>
          </li>
          <li>
            <span>Bootstrap</span>
            <div class="sb-skeleton">
              <div class="skillbar" style="--pgbar-length: 78%"></div>
            </div>
          </li>
          <li>
            <span>JavaScript</span>
            <div class="sb-skeleton">
              <div class="skillbar" style="--pgbar-length: 45%"></div>
            </div>
          </li>
          <li>
            <span>Python</span>
            <div class="sb-skeleton">
              <div class="skillbar" style="--pgbar-length: 95%"></div>
            </div>
          </li>
          <li>
            <span>Django</span>
            <div class="sb-skeleton">
              <div class="skillbar" style="--pgbar-length: 80%"></div>
            </div>
          </li>
          <li>
            <span>Django REST framework</span>
            <div class="sb-skeleton">
              <div class="skillbar" style="--pgbar-length: 65%"></div>
            </div>
          </li>
          <li>
            <span>FastAPI</span>
            <div class="sb-skeleton">
              <div class="skillbar" style="--pgbar-length: 67%"></div>
            </div>
          </li>
          <li>
          <li>
            <span>RabbitMQ</span>
            <div class="sb-skeleton">
              <div class="skillbar" style="--pgbar-length: 30%"></div>
            </div>
          </li>
          <li>
            <span>PostgreSQL</span>
            <div class="sb-skeleton">
              <div class="skillbar" style="--pgbar-length: 86%"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="detail-section tool-skill">
      <div class="detail-title">
        <div class="title-icon">
          <i class="fas fa-tools"></i>
        </div>
        <span>Developement Tools</span>
      </div>
      <div class="detail-content">
        <ul class="tool-list">
          <li>
            <svg viewbox="0 0 100 100">
              <circle cx="50" cy="50" r="45"></circle>
              <circle class="cbar" cx="50" cy="50" r="45" style="--percent: 0.8"></circle>
            </svg>
            <span class="tl-name">Pycharm</span>
            <span class="tl-exp">80%</span>
          </li>
          <li>
            <svg viewbox="0 0 100 100">
              <circle cx="50" cy="50" r="45"></circle>
              <circle class="cbar" cx="50" cy="50" r="45" style="--percent: 0.7"></circle>
            </svg>
            <span class="tl-name">Git</span>
            <span class="tl-exp">70%</span>
          </li>
          <li>
            <svg viewbox="0 0 100 100">
              <circle cx="50" cy="50" r="45"></circle>
              <circle class="cbar" cx="50" cy="50" r="45" style="--percent: 0.6"></circle>
            </svg>
            <span class="tl-name">Terminal</span>
            <span class="tl-exp">95%</span>
          </li>
          <li>
            <svg viewbox="0 0 100 100">
              <circle cx="50" cy="50" r="45"></circle>
              <circle class="cbar" cx="50" cy="50" r="45" style="--percent: 0.74"></circle>
            </svg>
            <span class="tl-name">Postman</span>
            <span class="tl-exp">60%</span>
          </li>
        </ul>
      </div>

    </div>
    <div class="detail-section interests">
      <div class="detail-title">
        <div class="title-icon">
          <i class="fas fa-heart"></i>
        </div>
        <span>Interests</span>
      </div>
      <div class="detail-content">
        <div class="outer-frame">
          <ul class="favor-list">
            <li>
              <i class="fas fa-gamepad"></i>
              <span>Game</span>
            </li>
            <li>
              <i class="fa-solid fa-globe"></i>
              <span>Travel</span>
            </li>
            <li>
              <i class="fa-solid fa-film"></i>
              <span>Movie</span>
            </li>
            <li>
              <i class="fa-solid fa-medal"></i>
              <span>Sport</span>
            </li>
            <li>
              <i class="fas fa-user-edit"></i>
              <span>Blog</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
